<h1>MindSung Expression Test</h1>
<p>
    Create an expression (no input) using:<br/>
    <code>$f(&lt;param_value_or_expr&gt;, ...)</code><br/>
    or with scope variables:<br/>
    <code>$withVars(&#123; name: &lt;var_name&gt;, value: &lt;value_or_expr&gt; &#125;, ...).$f(&lt;param_value_or_expr&gt;, ...)</code>
</p>
<p>
    Create a transform expression (with input) using:<br/>
    <code>$fx(&lt;input_expr&gt;, &lt;param_value_or_expr&gt;, ...)</code><br/>
    or or with scope variables:<br/>
    <code>$withVars(&#123; name: &lt;var_name&gt;, value: &lt;value_or_expr&gt; &#125;, ...).$fx(&lt;input_expr&gt;, &lt;param_value_or_expr&gt;, ...)</code>
</p>
<p>An object containing sample data and transforms can be accessed as <code>$sample</code></p>
