:host ::ng-deep {
  font-family: sans-serif;
  .json-source, .json-out {
    width: 49%;
  }
  code {
    display: inline-block;
    padding: 0.25em;
    margin: 0.25em 0;
    background-color: lightgray;
  }
  textarea {
    width: 80%;
    height: 4em;
  }
  button {
    vertical-align: text-bottom;
  }
}
