<ng-container *ngIf="type === 'object' || type === 'array' else valueType">

  <div class="bracket open" (click)="collapsed = !collapsed;">{{type === 'object' ? '&#123;' : '&#91;' }}</div>

  <div class="json-item-wrapper" [ngClass]="collapsed ? 'collapsed' : ''">
    <div class="item-expander" (click)="collapsed = !collapsed"></div>
    <div class="json-item-list">
      <div class="json-item" *ngFor="let k of keys; index as i" [ngClass]="i === keys.length - 1 ? 'last' : null">
        <ng-container *ngIf="type === 'object'">
          <div class="json-key">{{k}}</div>
          <div class="json-colon">:</div>
        </ng-container>
        <app-json-tree class="json-value" [node]="node[k]"></app-json-tree>
      </div>
      <div class="ellipses">{{getEllipses()}}</div>
    </div>
  </div>

  <div class="bracket close">{{type === 'object' ? '&#125;' : '&#93;' }}</div>

</ng-container>

<ng-template #valueType>
  <span [ngClass]="type">{{node != null ? node.toString() : 'null'}}</span>
</ng-template>
