<h1>MindSung Expression Test</h1>


<div class="row">
    <div class="json-source row-cell">
        <h2>Source</h2>
        <div class="scrollbox">
            <app-json-tree [node]="fxSource"></app-json-tree>
        </div>
    </div>
    <div class="json-out row-cell">
        <textarea [(ngModel)]="fxScript"></textarea>
        <button (click)="onEval($event)">Evaluate</button>
        <div class="scrollbox">
            <app-json-tree [node]="fxResult | async"></app-json-tree>
        </div>
    </div>
</div>
